.parent{
    width: 90%;
   
}

.add-top{
    background: linear-gradient(180deg, #20589A 0%, #BBD5E6 100%);
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.add-top h1{
    color: #fff;
    margin: 30px 30px;
}
.add-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #1A7EBD;
    font-size: 25px;
}
form{
    background-color: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 500px;
    color: #1A7EBD;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: block;
    width: 60%;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 0px 0px 10px 0px;
    font-size: 15px;
    border: 1px solid #1A7EBD;
    outline: none;
    
}
label{
    color: red;
    margin-right: 30px;
}
p{
    margin-right: 300px;
}
 button{
    display: block;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #1A7EBD;
    outline: none;
    font-size: 20px;
    background-color: #1A7EBD;
    color: #FFFF;
    margin-right: 250px;
}
.add-users button{
    width: 100%;
    margin-right: 20px;
    text-decoration: none;
}
@media screen and (max-width: 500px) {
    .parent{
        width: 100%;
       
    }
    .add-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        
    }
    .add-info h3{
        width: 100%;
        font-size: 18px;
        color: #1A7EBD;
    }
   .add-users form{
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #1A7EBD;
        background-color: blue;
    }
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    input{
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 10px 0px;
        margin: 0px 0px 10px 0px;
        font-size: 15px;
        border: 1px solid #1A7EBD;
        outline: none;
        
    }
    p{
        margin-right: 100px;
    }
    button{
        display: block;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #1A7EBD;
        outline: none;
        font-size: 11px;
        background-color: #1A7EBD;
        color: #FFFF;
       
    }
}
